/*CSS Variables*/

:root{
	--primary-color:#FF0000;
	--border: #e9e9e9;
	--gray: #8D8D8D;
	--gray-dark: #343a40;
	--light: #f8f9fa;
	--dark: #0a0a0a;

	--font-Pop:'Pop', cursive;
	--font-Ari:'Ari', cursive;

	--box-shadow: 0 0 1.2rem #090a0a7a;
	--box-shadow2: 0 .5rem 1.5rem #0d2e2e23;
	--box-shadow3: 0 .3rem 4rem #252c2c2f;
}
/*Font Family*/
@font-face{
	font-family: "Pop";
	src:url(../../vendor/fonts/Poppins/Poppins-Regular.ttf);
}

/*Arimo Font*/
@font-face{
	font-family: "Ari";
	src:url(../../vendor/fonts/Arimo/static/Arimo-Regular.ttf);
}